html {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* NAVIGATION BAR */
nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
}
nav .navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .navTop .navItem .search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}
nav .navTop .navItem .search .searchInput {
  border: none;
  background-color: transparent;
}
nav .navTop .navItem .search .searchInput::-moz-placeholder {
  color: lightgray;
}
nav .navTop .navItem .search .searchInput::placeholder {
  color: lightgray;
}
nav .navTop .navItem .search .searchIcon:hover {
  cursor: pointer;
}
nav .navTop .navItem .limitedOffer {
  font-size: 1.25rem;
  border-bottom: 2px solid #e4ae01;
  cursor: pointer;
  color: rgb(6, 172, 6);
  transition: all 0.5s;
}
nav .navTop .navItem .limitedOffer:hover {
  color: red;
}
nav .navBottom {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-evenly;
}
nav .navBottom .menuItem {
  margin-right: 3.125em;
  margin-top: 2.5em;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
  transition: all 0.5s;
}
nav .navBottom .menuItem:hover {
  color: rgb(0, 205, 0);
}
nav .navBottom .menuItem:hover:nth-child(2) {
  color: rgb(150, 44, 255);
}
nav .navBottom .menuItem:hover:nth-child(3) {
  color: rgb(0, 174, 174);
}
nav .navBottom .menuItem:hover:nth-child(4) {
  color: rgb(83, 143, 255);
}
nav .navBottom .menuItem:hover:nth-child(5) {
  color: rgb(255, 93, 95);
}

.navLink{
  font-size: 1.25rem;
  border-bottom: 2px solid #e4ae01;
  cursor: pointer;
  color: rgb(6, 172, 6);
  transition: all 0.5s;
}

nav .navTop .navItem .navLink:hover {
  color: red;
}

/* Modal */
/* Styles for the modal */

@media screen and (max-width: 768px) {
  .modal-content {
      width: 90%; /* Reduce width for smaller screens */
  }
}



/* SLIDER */
.slider {
  background-image: url(../../img/sliderBackground.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  background-size: 100vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}
.slider .sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}
.slider .sliderWrapper .sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slider .sliderWrapper .sliderItem .sliderImage {
  z-index: 1;
}
.slider .sliderWrapper .sliderItem .sliderBgCircle {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(0, 205, 0, 0.65);
  opacity: 0.4;
}
.slider .sliderWrapper .sliderItem .sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 3.75rem;
  font-weight: 500;
  text-align: right;
  color: white;
  z-index: 1;
}
.slider .sliderWrapper .sliderItem .sliderPrice {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 3.75rem;
  font-weight: 300;
  text-align: right;
  color: white;
  border: none;
  z-index: 1;
}
.slider .sliderWrapper .sliderItem .sliderPrice.price1 {
  background-color: #111;
  padding: 5px;
}
.slider .sliderWrapper .sliderItem .sliderPrice.price2 {
  background-color: #111;
  color: rgb(150, 44, 255);
  padding: 5px;
}
.slider .sliderWrapper .sliderItem .sliderPrice.price3 {
  background-color: #111;
  color: rgb(0, 174, 174);
  padding: 5px;
}
.slider .sliderWrapper .sliderItem .sliderPrice.price4 {
  background-color: #111;
  color: rgb(83, 143, 255);
  padding: 5px;
}
.slider .sliderWrapper .sliderItem .sliderPrice.price5 {
  background-color: #111;
  color: rgb(255, 93, 95);
  padding: 5px;
}
.slider .sliderWrapper .sliderItem a .buyButton {
  position: absolute;
  top: 70%;
  right: 10%;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  text-align: right;
  color: white;
  border: 1px solid gray;
  background-color: black;
  z-index: 1;
  cursor: pointer;
  transition: all 1s;
  border-radius: 30px;
}
.slider .sliderWrapper .sliderItem a .buyButton:hover {
  background-color: white;
  color: black;
}

/* PRODUCT CONTAINER */
.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
}
.productsContainer .productItem {
  background-color: #f5f5f5;
  border-radius: 15px;
  width: 23%;
  margin: 15px 0;
  text-align: center;
  padding-bottom: 20px;
}
.productsContainer .productItem .productContent .productItemTitle h3 {
  margin: 10px 0;
  text-transform: uppercase;
}
.productsContainer .productItem .productContent .buyNowButton {
  background-color: rgb(6, 172, 6);
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: all 0.5s;
}
.productsContainer .productItem .productContent .buyNowButton:hover {
  background-color: black;
  color: white;
}
.productsContainer .productItem .productContent span {
  display: block;
  margin: 5px 0;
  font-size: 20px;
}
.productsContainer .productItem img {
  width: 80%;
  height: auto;
}

/* FEATURES */
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features .feature .featureIcon {
  width: 50px;
  height: 50px;
}
.features .feature .featureTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 20px;
}
.features .feature .featureDescription {
  color: gray;
  width: 50%;
  height: 100px;
}

/* PRODUCT DETAIL */
.productDetailContainer {
  padding: 20px;
  display: none; /* Hide initially */
}
.productDetailContainer .product {
  display: flex;
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
.productDetailContainer .product .productImage {
  width: 50% !important;
}
.productDetailContainer .product .productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}
.productDetailContainer .product .productDetails .productTitle {
  font-size: 4.688rem;
  font-weight: 900;
}
.productDetailContainer .product .productDetails .productPrice {
  font-size: 30px;
  font-weight: 700;
}
.productDetailContainer .product .productDetails .productDescription {
  font-style: 24px;
  color: gray;
}
.productDetailContainer .product .productDetails .sizes {
  display: flex;
  margin-bottom: 20px;
}
.productDetailContainer .product .productDetails .sizes .size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 1.25rem;
}
.productDetailContainer .product .productDetails .productButton {
  float: left;
  padding: 10px 20px;
  background-color: rgb(8, 126, 8);
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
}
.productDetailContainer .product .productDetails .productButton:hover {
  background-color: black;
  color: white;
}

/* GALLERY */
.gallery {
  padding: 50px;
  display: flex;
}
.gallery .galleryItem {
  flex: 1; /* width: 33.33% */
  padding: 15px;
}
.gallery .galleryItem h1 {
  color: rgb(8, 126, 8);
  text-decoration: underline;
  cursor: pointer;
}
.gallery .galleryItem .galleryTitle {
  text-decoration: underline;
}
.gallery .galleryItem .galleryImage {
  width: 100%;
}

/* NEW SEASON */
.newSeason {
  display: flex;
}
.newSeason .nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(8, 126, 8);
}
.newSeason .nsItem .nsImage {
  width: 100%;
  height: 500px;
}
.newSeason .nsItem .nsTitle {
  font-size: 2.5rem;
}
.newSeason .nsItem a .nsButton {
  padding: 10px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(86, 32, 7);
  color: white;
}

/* FOOTER */
footer {
  display: flex;
  padding: 5px 10px;
  background-color: aliceblue;
}
footer .footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
footer .footerLeft .footerMenu .footerMenuTitle {
  font-size: 20px;
  color: rgb(8, 126, 8);
  text-decoration: underline;
  cursor: pointer;
}
footer .footerLeft .footerMenu .footerMenuList {
  padding: 0;
  list-style: none;
}
footer .footerLeft .footerMenu .footerMenuList .footerListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}
footer .footerRight {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footerRight .footerRightMenu {
  margin: 10px 0;
}
footer .footerRight .footerRightMenu .footerMenuTitle {
  color: rgb(8, 126, 8);
  text-decoration: underline;
  cursor: pointer;
}
footer .footerRight .footerRightMenu .footerMail .footerInput {
  padding: 5px;
}
footer .footerRight .footerRightMenu .footerMail .footerButton {
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
footer .footerRight .footerRightMenu .footerIcons {
  display: flex;
}
footer .footerRight .footerRightMenu .footerIcons .footerIcon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
}
footer .footerRight .footerRightMenu .coppyright {
  font-weight: 300;
  font-size: 0.875rem;
  margin-top: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* RESPONSIVE */
@media screen and (max-width: 480px) {
  nav {
    padding: 20px;
  }
  .search {
    display: none;
  }
  .navBottom {
    flex-wrap: wrap;
  }
  .menuItem {
    margin: 20px;
    font-weight: 700;
    font-size: 1.25rem;
  }
  .slider {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .sliderImage {
    width: 90%;
  }
  .sliderBgCircle {
    width: 100%;
    height: 100%;
  }
  .sliderTitle {
    display: none;
  }
  .sliderPrice {
    top: unset;
    bottom: -50;
    left: 0;
    background-color: lightgrey;
    font-size: 2.25rem;
  }
  .buyButton {
    right: 0;
    top: 0;
  }
  .features {
    flex-direction: column;
  }
  .product {
    -webkit-clip-path: none;
            clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productImage {
    width: 80%;
  }
  .productDetails {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }
  .productTitle {
    font-size: 3.125rem;
    margin: 0;
  }
  .gallery {
    display: none;
  }
  .newSeason {
    flex-direction: column;
  }
  .nsItem:nth-child(2) {
    padding: 50px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .footerLeft {
    padding: 20px;
    width: 90%;
  }
  .footerRight {
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }
  .payment {
    width: 90% !important;
    padding: 20px;
  }
}
@media screen and (max-width: 932px) {
  .limitedOffer {
    font-size: 10px;
  }
  .productsContainer {
    display: block;
  }
  .productItem {
    display: inline-block;
  }
  .productDetails {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */