/* FOOTER */

footer {
    display: flex;
    padding: 5px 10px;
    background-color: aliceblue;
   
    .footerLeft {
        flex: 2;
        display: flex;
        justify-content: space-around;
        padding: 50px;

        .footerMenu {
            
            .footerMenuTitle {
                font-size: 20px;
                color: rgb(8, 126, 8);;
                text-decoration: underline;
                cursor: pointer;
            }
            .footerMenuList {
                padding: 0;
                list-style: none;

                .footerListItem {
                    margin-bottom: 10px;
                    color: gray;
                    cursor: pointer;
                  }
            }
        }
      }

    .footerRight {
        flex: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .footerRightMenu {
            margin: 10px 0;

        .footerMenuTitle {
            color: rgb(8, 126, 8);
            text-decoration: underline;
            cursor: pointer;
        }
        .footerMail {
        
            .footerInput {
                padding: 5px;
            }
            
            .footerButton {
            padding: 5px;
            background-color: black;
            color: white;
            cursor: pointer;

            }
        }

        .footerIcons {
            display: flex;
            
            .footerIcon {
                width: 20px;
                height: 20px;
                margin-right: 15px;
                cursor: pointer;
                
            }
        }
        .coppyright {
            font-weight: 300;
            font-size: 0.875rem;
            margin-top: 10px;
        }
        }
      }
  }