/* GALLERY */

.gallery {
    padding: 50px;
    display: flex;

    .galleryItem {
        flex: 1; /* width: 33.33% */
        padding: 15px;

        h1 {
            color: rgb(8, 126, 8);
            text-decoration:underline;
            cursor: pointer;
        }

        .galleryTitle {
            text-decoration: underline;
        }
        
        .galleryImage {
            width: 100%;

        }
      }
  }