/* NAVIGATION BAR */

nav {
    background-color: #111;
    // background-color: green;
    color: white;
    padding: 20px 50px;

    .navTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .navItem {

            .search {
                display: flex;
                align-items: center;
                background-color: gray;
                padding: 10px 20px;
                border-radius: 10px;

                .searchInput {
                    border: none;
                    background-color: transparent;
              
                    &::placeholder {
                      color: lightgray;
                    }
                  }

                  .searchIcon:hover {
                    cursor: pointer;
                  }
              }

              .limitedOffer {
                font-size: 1.25rem;
                border-bottom: 2px solid #e4ae01;
                cursor: pointer;
                color: rgb(6, 172, 6);
                transition: all 0.5s;

                &:hover {
                  color: red;
                }
              }
        }
    }

    .navBottom {
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: space-evenly;
        
  .menuItem {
    margin-right: 3.125em;
    margin-top: 2.5em;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
    transition: all 0.5s;

    &:hover {
      color: rgb(0, 205, 0);

      &:nth-child(2) {
        color: rgb(150, 44, 255);
      }

      &:nth-child(3) {
        color: rgb(0, 174, 174);
      }

      &:nth-child(4) {
        color: rgb(83, 143, 255);
      }

      &:nth-child(5) {
        color: rgb(255, 93, 95);
      }
    }
  }
}
}

  
  