/* PRODUCT DETAIL */

.productDetailContainer {
    padding: 20px;
    display: none; /* Hide initially */

    .product {

        display: flex;
        height: 100vh;
        background-color: whitesmoke;
        position: relative;
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

        .productImage {
            width: 50% !important;
          }
        
        .productDetails {
            position: absolute;
            top: 10%;
            right: 0;
            width: 40%;
            padding: 50px;

            .productTitle {
                font-size: 4.688rem;
                font-weight: 900;
            }
            .productPrice {
                font-size: 30px;
                font-weight: 700;
            }
            .productDescription {
                font-style: 24px;
                color: gray;
            }
            .sizes{
                display: flex;
                margin-bottom: 20px;
                .size {
                    padding: 5px 20px;
                    border: 1px solid black;
                    margin-right: 10px;
                    cursor: pointer;
                    font-size: 1.25rem
                }

            }
            .productButton {
                float: left;
                padding: 10px 20px;
                background-color: rgb(8, 126, 8);
                color: black;
                border:none;
                border-radius: 15px;
                // font-weight: 600;
                cursor: pointer;
                transition: all 0.5s;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
          }
    }
  }